{
  "projects": {
    "production": "<production-firebase-project-id>"
  },
  "targets": {
    "<production-firebase-project-id>": {
      "hosting": {
        "production": ["<production-hosting-site-id>"]
      }
    }
  }
}
